@tailwind base;
@tailwind components;
@tailwind utilities;

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.transition-slider {
  transition: transform 0.7s cubic-bezier(0.45, 0.03, 0.51, 0.95);
}
